body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.main-search {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
}

.main-search input {
    font-family: 'Roboto';
    border-radius: 30px;
    border: 1px solid lightgray;
    color: #000;
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
}

.main-search input:focus {
    outline: none;
}

.car-item {
    display: flex;
    border: 1px solid lightgrey;
    margin: 10px;
}

.car-item .left {
    width: 100px;
}

.car-item .left img {
    width: 100%;
}

.car-item .right {
    flex-grow: 1;
    padding: 10px;
}

.car-item .right h4,
.car-item .right h6 {
    margin: 0;

}